<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>EXCEPTION – Responsive Business HTML Template</title>
		<meta name="description" content="EXCEPTION – Responsive Business HTML Template">
		<meta name="author" content="EXCEPTION">
		
		<!-- Mobile Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
		<!-- Put favicon.ico and apple-touch-icon(s).png in the images folder -->
	    <link rel="shortcut icon" href="images/favicon.ico">
		    	
		<!-- CSS StyleSheets -->
		<?php include('includes/stylesheet.php'); ?>
	
	</head>
	<body>
	    
	    <!-- site preloader start -->
	    <div class="page-loader">
	    	<div class="loader-in"></div>
	    </div>
	    <!-- site preloader end -->
	    
	    <div class="pageWrapper">
		    
		    <!-- login box start -->
			<div class="login-box">
				<a class="close-login" href="#"><i class="fa fa-times"></i></a>
				<form>
					<div class="container">
						<p>Hello our valued visitor, We present you the best web solutions and high quality graphic designs with a lot of features. just login to your account and enjoy ...</p>
						<div class="login-controls">
							<div class="skew-25 input-box left">
								<input type="text" class="txt-box skew25" placeholder="User name Or Email" />
							</div>
							<div class="skew-25 input-box left">
								<input type="password" class="txt-box skew25" placeholder="Password" />
							</div>
							<div class="left skew-25 main-bg">
								<input type="submit" class="btn skew25" value="Login" />
							</div>
							<div class="check-box-box">
								<input type="checkbox" class="check-box" /><label>Remember me !</label>
								<a href="#">Forgot your password ?</a>
							</div>
						</div>
					</div>
				</form>
			</div>
			<!-- login box End -->

			<!-- Header Start -->
			<div id="headWrapper" class="clearfix">
		    	
		    	<!-- top bar start -->
		    	<div class="top-bar">
				    <div class="container">
						<div class="row">
							<div class="cell-5">
							    <ul>
								    <li><a href="#"><i class="fa fa-envelope"></i>info@it-rays.com</a></li>
								    <li><span><i class="fa fa-phone"></i> Call Us: +1 (888) 000-0000</span></li>
							    </ul>
							</div>
							<div class="cell-7 right-bar">
					    		<ul class="right">
						    	    <li><a href="cart.html"><i class="fa fa-shopping-cart"></i>0 item(s) - $0.00</a></li>
						    	    <li><a href="siteMap.html"><i class="fa fa-sitemap"></i>Site Map</a></li>
						    	    <li><a href="register.html"><i class="fa fa-user"></i>Register</a></li>
						    	    <li><a href="#" class="login-btn"><i class="fa fa-unlock-alt"></i> Login</a></li>
						        </ul>
							</div>
						</div>
				    </div>
			    </div>
			    <!-- top bar end -->
			    
			    <header class="top-head" data-sticky="true">
				    <div class="container">
					    <div class="row">
					    	<div class="logo cell-3">
						    	<a href="home.html"></a>
						    </div>
						    <div class="cell-9 top-menu">
							    <!-- top navigation menu start -->
							    <nav class="top-nav mega-menu">
								    <ul>
								      <li><a href="#"><i class="fa fa-home"></i><span>Home</span></a>
									      <ul>
										      <li><a href="home.html">home 1</a></li>
										      <li><a href="home2.html">home 2</a></li>
										      <li><a href="home3.html">home 3</a></li>
										      <li><a href="home4.html">home 4</a></li>
										      <li><a href="home5.html">home 5</a></li>
										      <li><a href="homenews.html">home news</a></li>
										      <li><a href="homenews.html">home news</a></li>
										      <li><a href="#">Navigation</a>
										      		<ul>
										      			<li><a href="nav-2.html">Navigation 2</a></li>
										      			<li><a href="nav-3.html">Navigation 3</a></li>
										      			<li><a href="nav-4.html">Navigation 4</a></li>
										      			<li><a href="mega-menu.html">Mega Menu</a></li>
										      			<li><a href="nav-sticky.html">Sticky Navigation</a></li>
										      		</ul>
										      </li>
										      <li><a href="#">Headers</a>
										      		<ul>
										      			<li><a href="header2.html">Header 2</a></li>
										      			<li><a href="header3.html">Header 3</a></li>
										      			<li><a href="header4.html">Header 4</a></li>
										      			<li><a href="header5.html">Header 5</a></li>
										      			<li><a href="header6.html">Header 6</a></li>
										      			<li><a href="header7.html">Header 7</a></li>
										      		</ul>
										      </li>
                                                <li>
                                                    <a href="#">Footers</a>
                                                    <ul>
                                                        <li><a href="footer2.html">Footer 2</a></li>
                                                        <li><a href="footer3.html">Footer 3</a></li>
                                                        <li><a href="footer4.html">Footer 4</a></li>
                                                    </ul>
                                                </li>
									      </ul>
								      </li>
								      <li><a href="#"><i class="fa fa-key"></i><span>Features</span></a>
								      	<ul>
										      <li><a href="#"><i class="fa fa-send"></i>Headers</a>
										      		<ul>
										      			<li><a href="header2.html">Skewed Elements</a></li>
										      			<li><a href="header3.html">Header Top Center Logo</a></li>
										      			<li><a href="header-left-side.html">Left Side Header</a></li>
										      			<li><a href="header-right-side.html">Right Side Header</a></li>
										      		</ul>
										      </li>
										      <li><a href="#"><i class="fa fa-bars"></i>Menu Styles</a>
										      		<ul>
										      			<li><a href="home.html">Default Menu</a></li>
										      			<li><a href="nav-2.html">Menu Style 2</a></li>
										      			<li><a href="nav-3.html">Menu Style 3</a></li>
										      			<li><a href="nav-4.html">Menu Style 4</a></li>
										      		</ul>
										      </li>
										      <li><a href="#"><i class="fa fa-bars"></i>Sub Menu Styles</a>
										      		<ul>
										      			<li><a href="home.html">Default Sub Menu</a></li>
										      			<li><a href="sub-menu-white.html">White Sub Menu</a></li>
										      			<li><a href="sub-menu-dark.html">Dark Sub Menu</a></li>
										      		</ul>
										      </li>
										      <li><a href="#"><i class="fa fa-bars"></i>Sub Menu Effects</a>
										      		<ul>
										      			<li><a href="menu-effect-fade.html">Fade Effect</a></li>
										      			<li><a href="menu-effect-slide.html">Slide Up / Down Effect</a></li>
										      			<li><a href="menu-effect-fadeInUp.html">Fade In Up Effect</a></li>
										      			<li><a href="menu-effect-fadeInDown.html">Fade In Down Effect</a></li>
										      			<li><a href="menu-effect-fadeInRight.html">Fade In Right Effect</a></li>
										      			<li><a href="menu-effect-fadeInLeft.html">Fade In Left Effect</a></li>
										      			<li><a href="menu-effect-flash.html">flash Effect</a></li>
										      			<li><a href="menu-effect-pulse.html">pulse Effect</a></li>
										      			<li><a href="menu-effect-swing.html">swing Effect</a></li>
										      			<li><a href="menu-effect-tada.html">tada Effect</a></li>
										      			<li><a href="menu-effect-wobble.html">wobble Effect</a></li>
										      			<li><a href="menu-effect-none.html">No Effect</a></li>
										      		</ul>
										      </li>
										      <li><a href="#"><i class="fa fa-bookmark"></i>Page Titles</a>
										      	<ul>
										      		<li><a href="page-title.html">Normal Page Title</a></li>
										      		<li><a href="page-title-center.html">Centered Page Title</a></li>
										      		<li><a href="page-title2.html">Page Title with Icon</a></li>
										      		<li><a href="page-title2-center.html">Centered Page Title with Icon</a></li>
										      		<li><a href="page-title3.html">Dark Page Title</a></li>
										      		<li><a href="page-title3-center.html">Dark Centered Page Title</a></li>
										      		<li><a href="page-title4.html">Skewed Page Title</a></li>
										      		<li><a href="page-title4-center.html">Skewed Centered Page Title </a></li>
										      		<li><a href="page-title-video-bg.html">Page Title with Video Background</a></li>
										      		<li><a href="page-title-minimal.html">Minimal Page Title</a></li>
										      	</ul>
										      </li>
										      <li><a href="#"><i class="fa fa-phone"></i>Contact Pages</a>
										      	<ul>
										      		<li><a href="contact.html">Contact 1 HTML</a></li>
										      		<li><a href="contact.php">Contact 1 PHP</a></li>
										      		<li><a href="contact2.html">Contact 2 HTML</a></li>
										      		<li><a href="contact2.php">Contact 2 PHP </a></li>
										      		<li><a href="contact3.html">Contact 3 HTML</a></li>
										      		<li><a href="contact3.php">Contact 3 PHP</a></li>
										      		<li><a href="contact4.html">Contact 4 HTML</a></li>
										      		<li><a href="contact4.php">Contact 4 PHP</a></li>
										      	</ul>
										      </li>
                                              <li><a href="#"><i class="fa fa-server"></i>Footers</a>
                                                    <ul>
                                                        <li><a href="footer2.html#footWrapper">Footer Version 2</a></li>
                                                        <li><a href="footer3.html#footWrapper">Footer Version 3</a></li>
                                                        <li><a href="footer4.html#footWrapper">Footer Version 4</a></li>
                                                        <li><a href="footer-light.html#footWrapper">Light Colored Footer</a></li>
                                                        <li><a href="footer-minimal.html#footWrapper">Minimal Footer</a></li>
                                                    </ul>
                                              </li>
									      </ul>
								      </li>
								      <li><a href="#"><i class="fa fa-gift"></i><span>Portfolio</span></a>
								      		<ul>
										      <li><a href="portfolio-2-cols.html">Portfolio 2 columns</a></li>
										      <li><a href="portfolio-3-cols.html">Portfolio 3 columns</a></li>
										      <li><a href="portfolio-4-cols.html">Portfolio 4 columns</a></li>
										      <li><a href="portfolio-full.html">Portfolio full</a></li>
										      <li><a href="portfolio-single.html">Portfolio single</a></li>
										      <li><a href="portfolio-single2.html">Portfolio single 2</a></li>
									      </ul>
								      </li>
								      <li class="selected"><a href="#"><i class="fa fa-copy"></i><span>Pages</span></a>
								      		<ul>
										      <li><a href="about-us.html">About us</a></li>
										      <li class="selected"><a href="about-me.html">About me</a></li>
										      <li><a href="FAQ.html">FAQ</a></li>
										      <li><a href="find-job.html">Find a job</a></li>
										      <li><a href="pricing.html">Pricing</a></li>
										      <li><a href="services.html">Services</a></li>
										      <li><a href="#">Meet the team</a>
										      	<ul>
										      		<li><a href="team.html">Meet the team Style 1</a></li>
										      		<li><a href="team2.html">Meet the team Style 2</a></li>
										      	</ul>
										      </li>
										      <li><a href="gallery.html">Our Gallery<b class="menu-hint success">New</b></a></li>
										      <li><a href="page-full.html">Page Full width</a></li>
										      <li><a href="page-sidebar.html">Page with Sidebar</a></li>
										      <li><a href="page-left-bar.html">Page with Left Sidebar</a></li>
										      <li><a href="404.html">404 Page not found</a></li>
										      <li><a href="coming-soon.html">Coming Soon</a></li>
									      </ul>
								      </li>
								      <li><a href="#"><i class="fa fa-suitcase"></i><span>Shop</span></a>
								      		<ul>
								      			<li><a href="#">Shop Products listing</a>
							      					<ul>
							      						<li><a href="shop-right-bar.html">Right Side Bar</a></li>
							      						<li><a href="shop.html">Left Side Bar</a></li>
							      						<li><a href="shop-no-bar.html">No side bar</a></li>
							      					</ul>
								      			</li>
								      			<li><a href="#">Product Page</a>
								      				<ul>
							      						<li><a href="product-right-bar.html">Right Side Bar</a></li>
							      						<li><a href="product.html">Left Side Bar</a></li>
							      						<li><a href="product-no-bar.html">No side bar</a></li>
							      					</ul>
								      			</li>
								      			<li><a href="cart.html">Shoping cart</a></li>
								      			<li><a href="check-out.html">Check out</a></li>
								      		</ul>
								      </li>
								      <li><a href="#"><i class="fa fa-book"></i><span>Blog</span></a>
								      		<ul>
										      <li><a href="#">Blog Large Image</a>
										      		<ul>
										      			<li><a href="blog.html">Right Side Bar</a></li>
										      			<li><a href="blog-left-bar.html">Left Side Bar</a></li>
										      			<li><a href="blog-no-bar.html">No side bar</a></li>
										      		</ul>
										      </li>
										      <li><a href="#">Blog Small Image</a>
										      		<ul>
										      			<li><a href="blog-thumbnails.html">Right Side Bar</a></li>
										      			<li><a href="blog-thumbnails-left-bar.html">Left Side Bar</a></li>
										      			<li><a href="blog-thumbnails-no-bar.html">No side bar</a></li>
										      		</ul>
										      </li>
										      <li><a href="#">Blog Timeline</a>
										      		<ul>
										      			<li><a href="blog-timeline.html">Right Side Bar</a></li>
										      			<li><a href="blog-timeline-left-bar.html">Left Side Bar</a></li>
										      			<li><a href="blog-timeline-no-bar.html">No side bar</a></li>
										      		</ul>
										      </li>
										      <li><a href="#">Blog masonry</a>
										      		<ul>
										      			<li><a href="blog-masonry.html">Right Side Bar</a></li>
										      			<li><a href="blog-masonry-left-bar.html">Left Side Bar</a></li>
										      			<li><a href="blog-masonry-no-bar.html">No side bar</a></li>
										      		</ul>
										      </li>
										      <li><a href="#">Blog Single</a>
										      		<ul>
										      			<li><a href="blog-single.html">Right Side Bar</a></li>
										      			<li><a href="blog-single-left-bar.html">Left Side Bar</a></li>
										      			<li><a href="blog-single-no-bar.html">No side bar</a></li>
										      		</ul>
										      </li>
										      
									      </ul>
								      </li>
								      <li><a href="#"><i class="fa fa-leaf"></i><span>Shortcodes <b class="menu-hint success">New</b></span></a>
								      		<div class="div-mega main-bg">
												<div class="div-mega-section">
													<h4>Shortcodes Set 1</h4>
														<ul>
													      <li><a href="accordions.html">Accordions</a></li>
													      <li><a href="animations.html">Animations</a></li>
													      <li><a href="buttons.html">Buttons</a></li>
													      <li><a href="columns.html">Columns</a></li>
													      <li><a href="dividers.html">Dividers</a></li>
												      </ul>
												</div>
												
												<div class="div-mega-section">
													<h4>Shortcodes Set 2</h4>
														<ul>
													      <li><a href="fun-staff.html">Fun Staff</a></li>
													      <li><a href="headings.html">Headings</a></li>
													      <li><a href="icon-boxes.html">Icon Boxes</a></li>
													      <li><a href="font-icons.html">Icons</a></li>
													      <li><a href="message-boxes.html">Message Boxes</a></li>
												      </ul>
												</div>
												
												<div class="div-mega-section">
													<h4>Shortcodes Set 3</h4>
														<ul>
													      <li><a href="progress-bars.html">Progress Bars</a></li>
													      <li><a href="tabs.html">Tabs</a></li>
													      <li><a href="testimonials.html">Testimonials</a></li>
													      <li><a href="typography.html">Typography</a></li>
												      </ul>
												</div>
												
											</div>
								      </li>
								    </ul>
							    </nav>
							    <!-- top navigation menu end -->
							    
							    <!-- top search start -->
							    <div class="top-search">
						    		<a href="#"><span class="fa fa-search"></span></a>
							    	<div class="search-box">
							    		<div class="input-box left">
							    			<input type="text" name="t" id="t-search" class="txt-box" placeHolder="Enter search keyword here..." />
							    		</div>
							    		<div class="left">
							    			<input type="submit" id="b-search" class="btn main-bg" value="GO" />
							    		</div>
							    	</div>
							    </div>
							    <!-- top search end -->

							</div>
					    </div>
				    </div>
			    </header>
			</div>
			<!-- Header End -->
			
			<!-- Content Start -->
			<div id="contentWrapper">
				<div class="page-title title-1">
					<div class="container">
						<div class="row">
							<div class="cell-12">
								<h1 class="fx" data-animate="fadeInLeft">About <span>Me</span></h1>
								<div class="breadcrumbs main-bg fx" data-animate="fadeInUp">
									<span class="bold">You Are In:</span><a href="#">Home</a><span class="line-separate">/</span><a href="#">Pages </a><span class="line-separate">/</span><span>About me</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="sectionWrapper">
					<div class="container">
						<div class="my-img">
							<div class="my-details">
								<img class="fx" data-animate="fadeInLeft" alt="" src="images/people/1.jpg" style="box-shadow: rgb(0, 0, 0) 7px 4px 10px -6px;">
								<h4 class="bold main-color my-name fx" data-animate="slideInDown">Alex Williams</h4>
								<ul class="list alt list-bookmark cell-4">
									<li class="fx" data-animate="slideInDown">Senior System Analyst</li>
									<li class="fx" data-animate="slideInDown" data-animation-delay="100">38 Years old</li>
									<li class="fx" data-animate="slideInDown" data-animation-delay="200">9 Years Experience</li>
								</ul>
								<ul class="list alt list-bookmark cell-4">
									<li class="fx" data-animate="slideInDown" data-animation-delay="300">Work in USA</li>
									<li class="fx" data-animate="slideInDown" data-animation-delay="400">60 Project by me</li>
									<li class="fx" data-animate="slideInDown" data-animation-delay="500"><a href="#">Download my c.v</a></li>
								</ul>
								<ul class="list alt list-bookmark cell-6">
								<div class="fx" data-animate="fadeInUp">
							<h3 class="block-head">Full Bio</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget lacus sit amet neque posuere aliquet. In interdum nisl sapien, vel dignissim nulla porta at. Sed accumsan nunc vitae mollis consequat. Fusce mollis massa vel leo imperdiet ultrices. Cras ut tristique tellus. Morbi velit risus, ultrices vitae sodales ac, aliquam id eros.
								Vivamus sit amet odio pellentesque odio faucibus tristique. Morbi facilisis, ligula a faucibus pellentesque, orci justo consequat massa, sit amet dapibus dolor diam viverra mi. Aenean porttitor.
								Vivamus sit amet odio pellentesque odio faucibus tristique. Morbi facilisis, ligula a faucibus pellentesque, orci justo consequat massa, sit amet dapibus dolor diam viverra mi. Aenean porttitor, lectus at dapibus egestas.
							</p>
						</div>
								</ul>
							</div>
						</div>
						
						<div class="clearfix"></div>
						<hr class="hr-style5">
					
							
					</div>
				</div>
				
				<div class="sectionWrapper gry-bg">
					<div class="container">
						
						
						<div class="clearfix"></div>
					</div>
				</div>				
			</div>
			<!-- Content End -->
			
			<!-- Footer start -->
		   <?php include('includes/footer.php'); ?>
		    <!-- Footer end -->
		    
		    <!-- Back to top Link -->
	    	<div id="to-top" class="main-bg"><span class="fa fa-chevron-up"></span></div>
	    	
	    </div>
	    

	  <?php include('includes/scripts.php'); ?>
		
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function(){
				$("area[rel^='prettyPhoto']").prettyPhoto();
				
				$(".gallery:first a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'normal',theme:'light_square',slideshow:3000, autoplay_slideshow: true});
				$(".gallery:gt(0) a[rel^='prettyPhoto']").prettyPhoto({animation_speed:'fast',slideshow:10000, hideflash: true});
		
				$("#custom_content a[rel^='prettyPhoto']:first").prettyPhoto({
					custom_markup: '<div id="map_canvas" style="width:260px; height:265px"></div>',
					changepicturecallback: function(){ initialize(); }
				});

				$("#custom_content a[rel^='prettyPhoto']:last").prettyPhoto({
					custom_markup: '<div id="bsap_1259344" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div><div id="bsap_1237859" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6" style="height:260px"></div><div id="bsap_1251710" class="bsarocks bsap_d49a0984d0f377271ccbf01a33f2b6d6"></div>',
					changepicturecallback: function(){ _bsap.exec(); }
				});
			});
		</script>
	</body>
</html>